/* ---------------

            CRAETED BYE NEGAR GOLZAR

 */

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('fonts/eot/IRANSansWeb(FaNum).eot');
	src: url('fonts/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/woff/IRANSansWeb(FaNum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}

body{
    padding: 0;
    margin: 0;
    font-family: IRANSans;
}
a{
    text-decoration: none !important;   
}
.nopadding{
    padding: 0 !important;
}
.navbar-toggle{
    float: left;
    margin-left:20px;
}
.navbar-link li{
    font-weight: bold;
    float: right !important;
    font-size: 14px;
    padding-top: 10px;
   z-index: 99;
    direction: rtl;
}
.navbar-right li{
    font-weight: bold;
    float: right;
    font-size: 14px;
    padding-top: 10px;
     z-index: 99;
     color: white;
}


li.logo {
    height: 110px;
    margin-top: -15px;
}
.search-box img{
    width: 20px;
    height: auto;
    margin: 20px 10px;
}
.logo-xs img{
    width: 50px;
    height: auto;
    margin-top: -100px;
}
.navbar-default{
   background-color: #4a5e79;
    border: none;
    height: 60px;
}
.navbar-default .navbar-toggle{
    border: none;
    margin-top: 18px;
    border-radius: 0;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: #ca913a;
}
.navbar{
    margin-bottom: 0;
}

.logo{
    width: 130px;
    height: 120px;
    background-color: white;
    float: right;
    direction: rtl;
    padding: 10px;
}
.logo img{
    width: 100px;
    height: auto;
}
.logo span{
        color: white;
    text-align: right;
    display: flow-root;
    font-size: 11px;
    padding-top: 20px;
}
}
.brand-logo{
    position: relative;
    z-index: 1000px;
}
.navbar-default .navbar-nav>li>a{
    color: white;
}
.navbar-nav{
    margin:0; 
}
.first-page-baner{
    margin-bottom: 30px;
    width: 100%;
    padding: 0;
    z-index: 2
    
}
.first-page-baner img{
    width: 100%;

}
.yellow-title-bar{
    background-color: #fdc220;
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    direction: rtl;
}
.yellow-title-bar span{
    font-weight: bold;
    color: #808183;

}
.background{
    background-color: #f2f2f2;
    padding-bottom: 60px;
    

}
.box-of-stones-img{
    width: 100%;
    height: 220px;
    background-color: white;
    padding: 10px;
    display: inline-block;
}
.box-of-stones-img img{
    width: 100%;
    height: 150px;
}
.photos-stone{
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 85%;
    height: auto;
    padding:5px;
    text-align: center;
    color: #afb0b2;
    text-decoration: none;
    font-size: 10px;
    margin-top: 20px;
}
.name-of-stone{
       text-align: center;
    color: #afb0b2;
    text-decoration: none;
    font-size: 13px;
    margin-top: 22px;
    font-weight: bold;
}
.footer{
    background-color: #2c405b;
    height: 60px;
}
.title-stone-name{
   position: absolute;
    top: 47%;
    left: 8%;
    font-size: 50px;
    opacity: 0.5;
    color: white;
    font-weight: bold;

}
/*--------------------------------------------------gallery-2-page-----------------------------
*/
.box-of-stones-img-gallary-page{
    height: auto;
}
.owl-carousel{
    display: block !important;
}
@media only screen and (max-width:480px){
.yellow-title-bar span {
    position: relative;
    left: 26%;
}
 
  
}
@media only screen and (max-width:768px){

@media only screen and (max-width:992px){
    .navbar-right {
            float: right;
    }
}

@media only screen and (min-width:1035px){
    
}